<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysy.module_main">


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_module_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="debug.Application"
        android:theme="@style/AppTheme">


        <activity android:name="com.ysy.module_main.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
